<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/company/all">Companies - View All<br></a>
    <a href="/account/all">Accounts - View All<br></a>
    <a href="/address/all">Address - View All<br></a>
    <a href="/school/all">Schools - View All<br></a>
    <a href="/skill/all">Skills - View All<br></a>
    <br />

<%- include("./includes/footer.ejs"); %>
