<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street Name: <input id="street" name="street" type="text" />
    <br />
    <br />
    <br />
    Zip Code:  <input id="zip_code" name="zip_code" type="int">
    <br />

    <br />


    <!--&lt;!&ndash; Initialize the multiselect plugin: &ndash;&gt;-->
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function() {-->
            <!--$('#address_id').multiselect();-->
        <!--});-->
    <!--</script>-->


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>